<section class="add_user_section">

  <div ng-keydown="save($event)" class="input-group mb-3">
    <span class="input-group-text">ID</span>
    <input readonly type="text" class="form-control" ng-value="vm.selectedUser.id" placeholder="id">

    <span class="input-group-text" id="username">FIRSTNAME</span>
    <input type="text" class="form-control" ng-model="firstname" ng-value="vm.selectedUser.name.firstname"
      placeholder="Username">

    <span class="input-group-text" id="username">LASTNAME</span>
    <input type="text" class="form-control" ng-model="lastname" placeholder="Username"
      ng-value="vm.selectedUser.name.lastname">

    <span class="input-group-text" id="username">AGE</span>
    <input type="text" ng-model="age" class="form-control" placeholder="Username" ng-value="vm.selectedUser.username">
  </div>

  <button class="btn btn-success" ng-click="save($event)">
    <i class="ph-bold ph-plus"></i>
    ADD USER
  </button>
</section>