<section id="ALL_PEOPLE_SECTION">
  <h2 class="all_h2">ALL PEOPLE</h2>
  <div class="loading__div" ng-show="!people">LOADING</div>

  <div class="no__users" ng-show="people && !people.length">USERS LIST IS EMPTY</div>

  <div ng-show="people && people.length" class="users__table">
    <!-- TABLE HEAD -->
    <div class="table__head">
      <p>ID</p>
      <p>Name</p>
      <p>Family</p>
      <p>Username</p>
      <p>Commands</p>
    </div>
    <!-- TABLE__BODY | NG_REPEAT -->
    <div class="table__body">
      <div class="table__row" ng-repeat="p in people track by $index">
        <p>{{p.id}}</p>
        <p>{{p.name.firstname}}</p>
        <p>{{p.name.lastname}}</p>
        <p>{{p.username}}</p>
        <p class="buttons">
          <button class="btn md btn-danger" ng-click="userDeleteHandler(p.id)">
            <i class="ph-fill ph-trash-simple"></i>
          </button>
          <button class="btn md">
            <i class="ph-fill ph-pen"></i>
          </button>
        </p>
      </div>
    </div>

  </div>
</section>