<section id="ALL_PEOPLE_SECTION">
  <h2 class="all_h2">ALL PEOPLE</h2>
  <div class="loading__div" ng-show="!people">LOADING</div>

  <div class="no__users" ng-show="people && !people.length">USERS LIST IS EMPTY</div>

  <div ng-show="people && people.length" class="users__table">
    <!-- TABLE HEAD -->
    <div class="table__head">
      <p>ID</p>
      <p>Name</p>
      <p>Family</p>
      <p>Age</p>
      <p>Actions</p>
    </div>
    <!-- TABLE__BODY | NG_REPEAT -->
    <div class="table__body">
      <div class="table__row" ng-repeat="p in people track by $index">
        <p>{{p.id}}</p>
        <p>{{p.firstname}}</p>
        <p>{{p.lastname}}</p>
        <p>{{p.age}}</p>
        <p class="buttons">
          <button class="btn md btn-danger" ng-click="userDeleteHandler(p.id)">
            <i class="ph-fill ph-trash-simple"></i>
          </button>
          <button ng-click="openModalHandler(p)" class="btn md">
            <i class="ph-fill ph-pen"></i>
          </button>
        </p>
      </div>
    </div>

    <div class="modal edit_person_modal">
      <div class="modal__content">
        <div class="modal__header">
          <h3>EDIT USER</h3>
          <button class="btn btn-danger" ng-click="closeModalHandler(this)"><i class="ph-bold ph-x"></i></button>
        </div>
        <div class="modal__body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">ID</span>
            <input readonly type="text" class="form-control" ng-value="vm.selectedUser.id" placeholder="id"
              aria-label="Username">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="username">FIRSTNAME</span>
            <input type="text" class="form-control" ng-value="vm.selectedUser.name.firstname" placeholder="Username"
              aria-label="Username">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="username">LASTNAME</span>
            <input type="text" class="form-control" placeholder="Username" ng-value="vm.selectedUser.name.lastname"
              aria-label="Username">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="username">LASTNAME</span>
            <input type="text" class="form-control" placeholder="Username" ng-value="vm.selectedUser.username"
              aria-label="Username">
          </div>

          <button class="btn btn-success" ng-click="submitEditFormHandler()">SUBMIT</button>
        </div>
      </div>
    </div>

  </div>
</section>