<div>
  <!-- FRIENDS -->
  <input type="text" placeholder="Search Friends" ng-model="searchExpression">
  {{searchExpression}}
  <separator></separator>
  <h3>FRIENDS LIST: </h3>
  <div ng-repeat="person in vm.people | filter:searchExpression:strict">
    {{ person | uppercase }}
  </div>
  <!-- PRICES -->
  <separator></separator>
  <div ng-repeat="price in vm.prices track by $index">
    {{ price | currency }}
  </div>
  <!-- DIRECTIVES -->
  <separator></separator>
  <superman></superman>
  <space></space>
  <buttoncomponent></buttoncomponent>
  <div logger></div>
  <div class="loggerClass"></div>
  <separator></separator>
  <div>
    {{vm.mySelf.name.toUpperCase()}} : {{vm.mySelf.age}} Years Old.
  </div>
</div>