<div>
  <!-- FRIENDS -->
  <input type="text" placeholder="Search Friends" ng-model="searchExpression" />
  {{searchExpression}}
  <separator></separator>
  <h3>FRIENDS LIST:</h3>
  <div ng-repeat="person in vm.people | filter:searchExpression:strict">
    {{ person | uppercase }}
  </div>
  <!-- PRICES -->
  <separator></separator>
  <div ng-repeat="price in vm.prices | limitTo : 2">{{ price | currency }}</div>
  <!-- DIRECTIVES -->
  <separator></separator>
  <superman></superman>
  <space></space>
  <buttoncomponent></buttoncomponent>
  <div logger></div>
  <div class="loggerClass"></div>
  <separator></separator>
  <div>{{ vm.mySelf.name | uppercase }} : {{ vm.mySelf.age }} Years Old.</div>
  <separator></separator>

  <div class="inputs_wrapper">
    <input
      class="search_input"
      type="text"
      placeholder="Search Users"
      ng-model="searchExpression"
    />

    <select name="order" id="order" ng-model="orderExpression">
      <option value="">Order By</option>
      <option value="id">ID</option>
      <option value="name">NAME</option>
    </select>

    <div class="radios_wrapper">
      <div class="form_group">
        <label for="sort">Ascending</label>
        <input type="radio" name="sort" id="sort" ng-model="sortExpression" checked />
      </div>
      <div class="form_group">
        <label for="reverse">Descending</label>
        <input
          type="radio"
          name="sort"
          id="reverse"
          ng-model="sortExpression"
          value="reverse"
        />
      </div>
    </div>

    <space></space>
    <space></space>
  </div>

  <div class="users_container">
    <div
      class="user_box"
      ng-repeat="user in vm.users | filter : searchExpression | orderBy: orderExpression:sortExpression"
      ng-click="vm.setSelectedUser(user)"
    >
      <a class="user_anchor" href="#!user_{{user.id}}">
        {{user.id}}.{{ user.name | uppercase }}
      </a>
    </div>
  </div>
</div>
